.date.container-fluid.py-5
   .row.justify-content-center.align-items-center.text-white
      .col-md-8.col-lg-6.text-center
         h2.heading.text-uppercase realiza una cita
         p.text.mt-5.mb-4 Maecenas rhoncus, augue sed volutpat suscipit, augue felis laoreet lectus, vel convallis diam est eu lectus. Mauris metus orci, tempus nec bibendum eget, pulvinar at metus. Etiam egestas sodales auctor. 
         a.btn.btn-mint.btn-lg.text-uppercase(href="contacto.html") leer más