.container
   .row
      .col-md-4.mb-4.mb-lg-0
         h3.text-center.text-uppercase.mb-4 nosotros
         p.text-justify Praesent pulvinar dolor eu metus mollis egestas. Vestibulum efficitur, magna quis laoreet rutrum, eros ipsum rutrum erat, a facilisis neque dui ullamcorper metus.
      .col-md-4.text-center.mb-4.mb-lg-0
         h3.text-uppercase.mb-4 horario
         p.mb-3 Lun-Vie: 9 AM - 7PM
         p.mb-3 Sábado: 10 AM - 2PM
         p Domingo: Cerrado
      .col-md-4.text-center
         h3.text-uppercase.mb-4 contacto
         p.mb-3 66 East Sunnyslope Avenue 
         p Lansdowne, PA 19050
         nav.social.text-center
            ul.list
               li.item
                  a.link(href="http://facebook.com")
                     span.sr-only Facebook
               li.item
                  a.link(href="http://twitter.com")
                     span.sr-only Twitter
               li.item
                  a.link(href="http://instagram.com")
                     span.sr-only Instagram
               li.item
                  a.link(href="http://pinterest.com")
                     span.sr-only Pinterest
               li.item
                  a.link(href="http://youtube.com")
                     span.sr-only Youtube
      hr.w-100
      p.mx-auto.text-muted
         small Carolina Spa & Salon 2018. Todos los derechos reservados