.schedule
   .container 
      .row
         .col-md-6.text-center.text-white.p-4
            h2.heading.text-uppercase.mt-5 horarios
            p.lead.mt-3 Morbi risus mi, feugiat non nulla eu, dapibus sagittis turpis. Praesent vel dignissim libero. Morbi vel porttitor orci. Integer non elit eu odio vulputate aliquet at sed odio. 
            table.table.mt-4.text-white.text-center
               thead.table-head
                  tr
                     th Día
                     th De
                     th Hasta
               tbody.table-body
                  tr
                     td Lunes
                     td 09:00
                     td 19:00
                  tr
                     td Martes
                     td 09:00
                     td 19:00
                  tr
                     td Miércoles
                     td 09:00
                     td 19:00
                  tr
                     td Jueves
                     td 09:00
                     td 19:00
                  tr
                     td Viernes
                     td 09:00
                     td 19:00
                  tr
                     td Sábado
                     td 10:00
                     td 14:00
                  tr
                     td Domingo
                     td Cerrado
                     td Cerrado
         .background.col-md-6