section.products.container.py-5
   h2.heading-compound.text-center nuestros 
      span.d-block.text-uppercase productos
   .row.py-5
      .col-md-3.mb-5.mb-md-0
         +product('producto_mini_01.jpg', 'Producto 1', '25')
            p.product__desc.card-text Curabitur egestas sit amet urna nec blandit. Curabitur egesta.
      .col-md-3.mb-5.mb-md-0
         +product('producto_mini_02.jpg', 'Producto 2', '25')
            p.product__desc.card-text Curabitur egestas sit amet urna nec blandit. Curabitur egesta.
      .col-md-3.mb-5.mb-md-0
         +product('producto_mini_03.jpg', 'Producto 3', '25')
            p.product__desc.card-text Curabitur egestas sit amet urna nec blandit. Curabitur egesta.
      .col-md-3.mb-5.mb-md-0
         +product('producto_mini_04.jpg', 'Producto 4', '25')
            p.product__desc.card-text Curabitur egestas sit amet urna nec blandit. Curabitur egesta.
            