section.banner.text-center.py-5
   h2.heading-compound bienvenido a nuestro 
      span.d-block.text-uppercase sitio web
   p.paragraph.mt-4 
      | Te sentirás como nuevo(a) con nuestros
      br
      | masajistas profesionales.
.container
   .row.mb-2
      .col-md-4.text-center
         +service('servicio_01.jpg', ['conoce sobre', 'nosotros'])
      .col-md-4.text-center
         +service('servicio_02.jpg', ['nuestros', 'servicios'])
      .col-md-4.text-center
         +service('servicio_03.jpg', ['visita nuestra', 'tienda'])