extends ./pug/templates/template

block home 
   main
      article
         include ./pug/blocks/slider
         include ./pug/blocks/servicios
         include ./pug/blocks/horarios
         include ./pug/blocks/productos
         include ./pug/blocks/cita
         