extends ./pug/templates/innerpage
block productos-hero
   +hero('productos.jpg', 'Productos')
block productos-main
   +mainContent('Productos', 'col-12')
      .row
         .card-columns.px-5.px-lg-0.pt-5.pt-lg-0
            +product('producto_mini_01.jpg', 'producto 1', '25')
               p.card-text.text-uppercase.desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, animi!
            +product('producto_mini_02.jpg', 'producto 2', '30')
               p.card-text.text-uppercase.desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, animi!
            +product('producto_mini_03.jpg', 'producto 3', '28')
               p.card-text.text-uppercase.desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, animi!
            +product('producto_mini_04.jpg', 'producto 4', '30')
               p.card-text.text-uppercase.desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, animi!
            +product('producto_mini_05.jpg', 'producto 5', '25')
               p.card-text.text-uppercase.desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, animi!
            +product('producto_mini_06.jpg', 'producto 6', '28')
               p.card-text.text-uppercase.desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, animi!
            +product('producto_mini_07.jpg', 'producto 7', '25')
               p.card-text.text-uppercase.desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, animi!
            +product('producto_mini_08.jpg', 'producto 8', '30')
               p.card-text.text-uppercase.desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, animi!