extends ./pug/templates/innerpage
block producto-hero
   +hero('producto_01.jpg', 'Producto')
block producto-main
   +mainContent('Producto 1')
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus, esse reiciendis libero, quam hic recusandae repellat nam voluptatum neque quaerat et temporibus rerum quidem minus illum dignissimos velit ullam laboriosam delectus. Quas est rerum deleniti accusantium eum cumque optio voluptates? Aut, explicabo voluptate cupiditate quos impedit, veritatis iure magni soluta commodi aliquam officia quis quam at architecto excepturi exercitationem vitae!
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptatem harum vel animi culpa. Mollitia, magni id quasi cum doloremque quibusdam exercitationem, quas quod minus aliquid accusantium qui optio facere facilis architecto totam pariatur temporibus ab quidem vel quae? Neque.
   +asideContent('Descripción', 'p-3 text-center', 'my-4')
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit eaque ipsum nisi fugit quaerat sint.
      h3.mt-5 Precio
      p.display-4 $25.00